{{{html}}}
<article class="{{post_class}}">
<div class="inner">
    <aside class="gh-post-upgrade-cta">
        <div class="gh-post-upgrade-cta-content" style="background-color: {{accentColor}}">
            <h2>Journal posts are invite-only</h2>
            <a class="gh-btn" data-portal="signup" style="color:{{accentColor}}">Subscribe now</a>
            <p><small>Already have an account? <a data-portal="signin">Sign in</a></small></p>
        </div>
    </aside>
</div>
</article>